.skeleton {
    background:rgba(195, 195, 195, 0.08);
}
.skeleton:empty{
    position: relative;
    overflow: hidden;

}
.skeleton:empty:after{
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, transparent, #fff, transparent);
    position: absolute;
    top: 0;
    left: -100%;
    animation: skeleton-load 1s infinite;
}
@keyframes skeleton-load{
    from{left: -100%;}
    to{left: 100%;}
}
.sk-p-radius {
    border-radius:10px;
}
.image {
    width: 100%;
    height: 200px;
}
.image-reg {
    width: 100%;
    height: 200px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}
.ske-image-round {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}
.ske-float {
    display: inline-block;
}
